/* estilos.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#map {
    width: 100%;          /* Asegura que el mapa ocupe todo el ancho disponible */
    height: 600px;        /* Asegura que el mapa tenga una altura visible */
    border: 2px solid #ccc; /* Puedes agregar un borde opcional para que se distinga */
    margin-top: 20px;     /* Espaciado superior para separar el mapa del contenido */
}

.text-map {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.text {
    width: 48%;
}

.autor-content {
    display: flex;
    justify-content: space-between;
}

.foto img {
    max-width: 100%;
    height: auto;
    width: 200px;
}